@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 5 3 21;
    --background: 251 251 254;
    --primary: 47 39 206;
    --secondary: 222 220 255;
    --accent: 67 59 255;
  }

  .dark {
    --text: 235 233 252;
    --background: 1 1 4;
    --primary: 58 49 216;
    --secondary: 2 0 36;
    --accent: 6 0 194;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-inter font-normal;
  }

  h1, h2, h3, h4, h5 {
    @apply font-inter font-bold;
  }

  h1 {
    @apply text-[4.210rem];
  }

  h2 {
    @apply text-[3.158rem];
  }

  h3 {
    @apply text-[2.369rem];
  }

  h4 {
    @apply text-[1.777rem];
  }

  h5 {
    @apply text-[1.333rem];
  }

  small {
    @apply text-[0.750rem];
  }
}